@import "nullstyle.scss";

.page {
  background-color: #3e3e3e;
}

.container {
  width: 900px;
  margin: auto;
  padding: 20px 0;
  font-family: 'Roboto Mono';
  color: #199515;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  color: #ca7f3a;
}

.output {
  width: 100%;
  height: 300px;
  border: 10px solid #4f4f4f;
  border-radius: 30px;
  padding: 10px;
  resize: none;
  font-weight: 700;
  font-size: 16px;
  color: #199515;
  background-color: #141414;
}

.keyboard {
  display: flex;
  flex-direction: column;

  border: 5px solid #4f4f4f;
  border-radius: 15px;
  padding: 10px 10px 0 0;
}

.keyboard__row {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.keyboard__key {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #393e36;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  color: #141414;
  background-color: #51584e;

  &:hover {
    color: #199515;
    background-color: #41473f;
  }
}

[data-code="Backspace"],
[data-code="Tab"] {
  width: 90px;
}

[data-code="CapsLock"],
[data-code="Enter"] {
  width: 100px;
}

[data-code="ShiftLeft"],
[data-code="ShiftRight"] {
  width: 130px;
}

[data-code="Space"] {
  width: 390px;
}

[data-code="ArrowUp"],
[data-code="ArrowDown"] {
  height: 25px;
}

[data-code="ArrowDown"] {
  position: absolute;
  right: 60px;
  align-self: flex-end;
}

.en,
.ru,
.case-up,
.case-down {
  display: none;
}

.active {
  display: block;
}